@tailwind base;
@tailwind components;
@tailwind utilities;

/* DaisyUI theme customizations */
:root {
  --rounded-box: 0.5rem;
  --rounded-btn: 0.25rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
}

/* Global styles */
:root, [data-theme] {
  background-color: #edf1f4 !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom components */
.prose {
  max-width: none;
}

/* Hide all scrollbars */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}